// Override default variables before the import
$body-bg: rgb(244, 244, 244);

// Import Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.loginForm {
    width: 50%;
    padding: 1em; 
}

.btn {
    margin: .75rem;
}